.grid{
    display: grid;
    gap: 20px;
    
    /*auto-fill*/
    /*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/

    /*auto-fit*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}