*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: url(../imagenes/ADTRseparate.jpg), url(../imagenes/super-meat-boy.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply ;
}