#contenedor{
    margin: auto;
    width: 500px;
    height: 500px;
    border: 1px solid #000;

    /*Fondo plano*/
    background: #048c96;
    background: rgba(146, 11, 11, 1);

    /*Fondo degradados o gradientes*/
    background: linear-gradient(90deg, blue, orange);
    background: radial-gradient(orange, green);

    /*Imagen de fondo*/
    background-image: url(../imagenes/adtr-bobby.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;

    background: #000000 url(../imagenes/adtr-bobby.jpg) no-repeat scroll center;
    background-size: cover;
}

.contenido{
    width: 100%;
    height: 100%;
    background-color: rgba(146, 11, 11, 0.50);
}