*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 100px;
}

li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a3866;
    transition: all 0.3s;
}

a:hover{
    color: #ff2753;
}

.logo{
    width: 200px;
    height: 150px;
    cursor: pointer;
}

.btn{
    padding: 10px 25px;
    background-color: #ff2753;
    border-radius: 50px;
    color: #fff;
}

.btn:hover{
    background-color: #4a3866;
    color: #fff;
}

/*Menu 2*/
.menu2{
    padding: 10px 5%;
}

.menu2 .logo{
    margin-right: auto;
}

.menu2 .btn{
    margin-left: 20px;
}

/*Menu 3*/
.menu3 .logo{
   order: 2; 
}

.menu3 nav{
    order: 1;
}

.menu3 .btn{
    order: 0;
}