*{
    font-family: Arial, Helvetica, sans-serif;
}

article{
   border: 1px solid red;
   margin-bottom: 100px;
}

div{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid blue;
    line-height: 200px;
    text-align: center;
}

/*Despliegue en bloque*/
.bloque div{
    display: block;
}

/*Despliegue en linea*/
.enlinea div{
    display: inline;
    display: inline-block;
}

/*Despliegue en tabla*/
.entabla div{
   display: table-cell;
}

/*Posicionamiento relativo*/
#relativo{
    position: relative;
    left: 300px;
}

/*Posicionamiento absoluto*/
#absoluto{
    position: absolute;
    right: 50px;
}

/*Posicionamiento fijo*/
#fijo{
    /*position: fixed;*/
    background: blue;
    right: 100px;
    top: 200px;
}

/*Posicionamiento flotante*/
.flotante{
    height: 400px;
    width: 100%;
}

.flotante div{
    float: left;
}

.flotante div:nth-child(2){
    float: right;
}